<div class="dropdown ms-auto">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
    🌐 Language
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" (click)="changeLanguage('en')">English</button></li>
    <li><button class="dropdown-item" (click)="changeLanguage('ar')">Arabic</button></li>
    <li><button class="dropdown-item" (click)="changeLanguage('fr')">French</button></li>
    <li><button class="dropdown-item" (click)="changeLanguage('zh')">Chinese</button></li>
  </ul>
</div>

